apscheduler     
contourpy       
cycler          
fonttools       
kiwisolver      
matplotlib      
numpy           
packaging       
pandas          
pillow          
psycopg         
psycopg2        
pyparsing       
pyqt5           
pyqt5-qt5       
pyqt5-sip       
python-dateutil 
pytz            
schedule        
six             
tzdata          
tzlocal