Package         Version
--------------- -----------
apscheduler     3.11.0
contourpy       1.3.1
cycler          0.12.1
fonttools       4.56.0
kiwisolver      1.4.8
matplotlib      3.10.1
numpy           2.2.4
packaging       24.2
pandas          2.2.3
pillow          11.1.0
psycopg         3.2.6
psycopg2        2.9.10
pyparsing       3.2.1
pyqt5           5.15.11
pyqt5-qt5       5.15.16
pyqt5-sip       12.17.0
python-dateutil 2.9.0.post0
pytz            2025.1
schedule        1.2.2
six             1.17.0
tzdata          2025.1
tzlocal         5.3.1
